*{
    margin: 0;
    padding: 0;
    /* cursor: url(../sprites/01.png), text; */
}
body{
    background: url(../sprites/bg01.png);
    background-size: 85.5rem 44rem;
    background-repeat: no-repeat;
}
body::before{
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -5;
}
.box{
    position: relative;
    width: 100%;
    height: 100vh;
    right: 0;
    z-index: 0;
    overflow: hidden;
}
.bird{
    position: absolute;
    right: -105px;
    top: 0;
    z-index: 1;
    width: 352px;
    height: 331px;
    transform: translate(-20%, -56%);
    animation: fly 15s linear 1s infinite;
    background: url(../sprites/13.gif) no-repeat left center;
    background-size: 311px;
    background-position: 5px 0
}
.bird1{
    position: absolute;
    right: -101px;
    top: 0;
    z-index: 1;
    margin-top: -25px;
    width: 621px;
    height: 596px;
    transform: translate(83%, 18%);
    background: url(../sprites/15.gif) no-repeat left center;
    background-size: 332px;
    animation: flying 15s linear 1s infinite;
    background-position: 5px 0;
}
.bird2{
    position: absolute;
    right: -50px;
    top: 0;
    z-index: 1;
    width: 311px;
    height: 277px;
    transform: translate(-22%, 58%);
    background: url(../sprites/17.gif) no-repeat left center;
    background-size: 151px;
    animation: fly 18s linear 1s infinite;
    background-position: 5px 0;
}
.bird3{
    position: absolute;
    right: -120px;
    top: 0;
    z-index: 1;
    margin-top: 32px;
    width: 282px;
    height: 281px;
    transform: translate(60%, -35%);
    background: url(../sprites/6.gif) no-repeat left center;
    background-size: 301px;
    background-position: 5px 0;
    animation: flying 12s linear 1s infinite;
}
@keyframes flying
{
    0%
    {
        left: 150%;
        top: 10%;
    }
    30%
    {
        left: 75%;
        top: 50%;
    }
    50%
    {
        left: 50%;
        top: 30%;
    }
    75%
    {
        left: 40%;
        top: 20%;
    }
    100%
    {
        left: -50%;
        top: 10%;
    }
}
@keyframes fly
{
    0%
    {
        right: 150%;
        top: 10%;
    }
    30%
    {
        right: 75%;
        top: 50%;
    }
    50%
    {
        right: 50%;
        top: 30%;
    }
    75%
    {
        right: 40%;
        top: 20%;
    }
    100%
    {
        right: -50%;
        top: 10%;
    }
}
 .box #btn{
    height: 59px;
    position: relative;
    width: 240px;
    font-size: 35px;
    font-weight: bold;
    top: 375px;
    margin-left: 586px;
    box-shadow: 4px -4px aquamarine;
    background-color: #000;
    border-radius: 22px;
}
#btn a{
    color: aliceblue;
    text-decoration: none;
}
